.DS_Store
.cshrc
.build
blib
pm_to_blib
MYMETA.*
META.yml
Makefile
MANIFEST.bak
*~
*.old
*.tar.gz
*.tar.bz2
client/bin/do_build_test.sh
server/bin/do_build_test.sh
client/lib/nictoolclient.conf
server/lib/nictoolserver.conf
dist/docker/.env
server/t/test.cfg
server/t/test-rest.cfg
server/api/t/test.cfg
