<!--
NicTool Version {{VERSION}}
License: {{LICENSE}}
Source: {{SRCURL}}
-->
<table id="loginTable" class="fat">
<tr class="dark_grey_bg"><td>
    <table class="no_pad" style="width:100%;">
    <tr>
        <td><img src="{{image_dir}}/transparent.gif" style="width:1; height:16;" alt="transparent"></td>
        <td><a href="http://www.nictool.com/" target="_top"><B>NicTool</b></a> v{{VERSION}}
        </td>
        <td class=right>Logged in: <a href="user.cgi?nt_user_id={{userid}}">{{username}}@{{groupname}}</a> &nbsp; &nbsp; [<a href="index.cgi?logout=1" target=_top>logout</a>]</td>
    </tr>
    </table>
</td></tr>
</table>
