<html>
<!--
License: {{LICENSE}}
Source: {{SRCURL}}
-->

<HEAD>
  <TITLE>{{app_title}}</TITLE>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link rel="stylesheet" href="nt-style.css" type="text/css" media="screen" />
</HEAD>

<FRAMESET cols="200,*" FRAMEBORDER=1 FRAMESPACING=0>
    <frame name=nav src=nav.cgi marginwidth=0 marginheight=0 target="body" scrolling="auto">
    <frame name=body src="group.cgi?nt_group_id={{nt_group_id}}" marginwidth=0 marginheight=0>
</FRAMESET>
