<h2>Export Serials</h2>

<p class="left">Export serials controls whether the zone serial numbers are
published in the nameserver exports. This option only appears if the
nameserver type is tinydns. It is ignored by the export scripts for nameservers
other than tinydns.</p>

<p class="left">Tinydns has a feature that calculates automatic zone serial numbers based upon the timestamp of the data file. Not exporting serial numbers makes the data file smaller. A smaller data file exports faster, compiles faster, rsync copies faster, and probably serves faster too. It's a small optimization but for nameservers with tens or hundreds of thousands of zones, the difference can be significant.</p>

<p class="left">The disadvantage to using tinydns' automatic serial numbers is
that some registrars (particularly European) used to (as of 2000-2005) block domain registrations unless the zone is already published on the nameservers and the zone serial numbers of <b>all</b> nameservers match. Since the timestamps of the data files vary slightly, the mismatching serial numbers would occasionally prvent a domain registration from succeeding.</p>

