<table class="center fat top" style="padding:6;">
	<tr>
		<td></td>
		<td class=center> <b>Edit Properties</b></td>
		<td class=center> <b>Create New Object</b></td>
		<td class=center> <b>Delete Object</b></td>
		<td class=center> <b>Delegate Object</b></td>
	</tr>

	<tr>
		<td class="right"><b>Group:</b></td>
		<td class="white_bg" class=left>
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Edit</b><br>The user may edit sub-group properties.</td>

		<td class="white_bg" class=left>
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Create</b><br>The user may create new sub-groups.</td> 

		<td class="white_bg" class=left>
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Delete</b><br>The user may delete sub-groups.</td> 
		<td class="white_bg">&nbsp;</td>
	</tr>
		
	<tr>
		<td class=right><b>User:</b></td>

		<td class="light_grey_bg" class=left>
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Edit</b> <br>The user may edit other users' properties.</td>
		<td class="light_grey_bg" class=left>
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Create</b> <br>The user may create new users.</td>
		<td class="light_grey_bg" class=left>
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Delete</b> <br>The user  may delete other users.</td>
		<td class="light_grey_bg">&nbsp;</td>
	</tr>

	<tr>
		<td class=right><b>Zone:</b></td>

		<td class="white_bg left">
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Edit</b> <br>The user may edit zone properties.</td>
		<td class="white_bg left">
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Create</b> <br>The user may create new zones.</td>
		<td class="white_bg left">
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Delete</b> <br>The user may delete zones.</td>
		<td class="white_bg left">
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Delegate</b> <br>The user may delegate zones.</td>
	</tr>

	<tr>
		<td class=right><b>Zonerecord:</b></td>
		<td class="light_grey_bg left">
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Edit</b> <br>The user may edit zone record properties.</td>

		<td class="light_grey_bg left">
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Create</b> <br>The user may create zone records inside zones.</td>
		<td class="light_grey_bg left">
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Delete</b> <br>The user may delete zone records.</td>
		<td class="light_grey_bg left">
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Delegate</b> <br>The user may delegate zone records.</td>
	</tr>

	<tr>
		<td class=right><b>Nameserver:</b></td>
		<td class="white_bg left">
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Edit</b> <br>The user may edit nameserver properties.</td>

		<td class="white_bg left">
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Create</b> <br>The user may create nameservers.</td>
		<td class="white_bg left">
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Delete</b> <br>The user may delete nameservers.</td>
		<td class="white_bg left">&nbsp;</td>
	</tr>

	<tr>
		<td class=right><b>Self:</b></td>

		<td class="light_grey_bg left">
		  <img src=images/perm-checked.gif alt="check mark icon">
			<b>Edit</b> <br>The user may edit his/her own properties.</td>
		<td class="light_grey_bg">&nbsp;</td>
		<td class="light_grey_bg">&nbsp;</td>
		<td class="light_grey_bg">&nbsp;</td>
	</tr>
	<tr>
		<td colspan=5 class="white_bg">
			<b>Special cases</b>: A user may never delete his/her self. A user may never edit his/her own group.
		</td>
	</tr>
</table>
