Type <strong>A</strong> and <strong>AAAA</strong> records require that the Address field be an IP address.
</td></tr><tr><td class="light_grey_bg">
Types <strong>CNAME, MX, NS</strong>, and <strong>PTR</strong> require a domain name in the Address field. 

<p>If the domain name is not fully qualified (ending with '.'), it will be qualified by appending the Zone name:</p>

        'www' =&gt; 'www.myzone.com.'

</td></tr><tr><td class="light_grey_bg">

Some characters have special meaning and use:
<table><tr><td class=dark_grey_bg>Character</td><td class="dark_grey_bg center">Meaning</td><td class="dark_grey_bg center">Example</td></tr>
<tr>
<td class=dark_grey_bg><b>@</b></td><td class=dark_grey_bg> The @ character can be used to stand for the name of the parent zone.</td>
<td class=dark_grey_bg>
@ (becomes zone.com.)<br>
www.@ (becomes www.zone.com.)
</td></tr>
<tr>
<td class=dark_grey_bg><b>*</b></td>
<td class=dark_grey_bg>You can use the * character only at the beginning of the Address</td>
<td class=dark_grey_bg>
*.zone.com.<br>
*
</td></tr>

<tr>
<td class=dark_grey_bg><b>/</b></td>
<td class=dark_grey_bg>
You can use the / character only in Reverse Lookup Addresses that end with '.in-addr.arpa.'</td>
<td class=dark_grey_bg>
1.0/24.3.4.5.in-addr.arpa.<br>
1.2.0/16.3.4.in-addr.arpa.
</td>
</tr>

<tr>
<td class=dark_grey_bg><b>&amp;</b></td>
<td class=dark_grey_bg>
Addresses that end in .&amp; will have the &amp; character changed to 'in-addr.arpa.'</td>
<td class=dark_grey_bg>
1.2.3.4.&amp; (becomes 1.2.3.4.in-addr.arpa. )<br>
1.2.0/16.3.4.&amp; (becomes 1.2.0/16/3.4.in-addr.arpa. )
</td>
</tr>

</table>

</pre>
