<!DOCTYPE html>
<html>
<head>
  <title>{{app_title}}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link rel="stylesheet" href="nt-style.css" type="text/css" media="screen" />
  <script src="jquery-1.11.1.min.js"></script>
  <script src="nt-webauthn.js"></script>
</head>

<body class="center">
 <div id="loginBox" style="padding-top: 200px; width:250px; margin:0px auto;">
  <form action="index.cgi" method="POST">
   <table>
    <tr><td class="center bold" colspan=2 style="color:red;">{{message}}</td></tr>
    <tr class="dark_grey_bg">
		 <td class="dark center bold pad4" colspan=2 style="font-size: 110%;">{{app_title}} Login</td>
    </tr>
    <tr class="light_grey_bg">
     <td class=right>UserName:</td>
     <td><input type=text name=username size=25></td>
    </tr>
    <tr class="light_grey_bg">
     <td class=right>Password:</td>
     <td><input type="password" name="password" size="25" autocomplete="current-password"></td>
    </tr>
    <tr class="dark_grey_bg">
     <td class="dark center" colspan=2>
      {{CSRF_TOKEN_FIELD}}
      <input type=hidden name=login value=Enter>
      <input type=submit name=login value=Login>
      <button type="button" id="nt-passkey-login"
              style="display:none; margin-left:8px;"
              onclick="ntPasskeyLogin()">Sign in with Passkey</button>
     </td>
    </tr>
    <tr>
     <td colspan=2 class="light_hilite_bg dark right">
      NicTool
      <span style="font-size: 80%;"><a href="{{LICENSE}}" TARGET="_blank">License</a> :: <a href="{{SRCURL}}" TARGET="_blank">Source</a></span>
     </td>
    </tr>
   </table>
  </form>
 </div>
<script>
(function() {
    if (window.NtWebAuthn && NtWebAuthn.isSupported()) {
        var btn = document.getElementById('nt-passkey-login');
        if (btn) btn.style.display = '';
    }

    window.ntPasskeyLogin = function() {
        var csrfField = document.querySelector('input[name="csrf_token"]');
        var csrfToken = csrfField ? csrfField.value : '';
        var username = document.querySelector('input[name="username"]').value;

        NtWebAuthn.authenticate(csrfToken, username || undefined)
            .done(function(resp) {
                if (resp.nt_user_session) {
                    window.location.href = 'index.cgi';
                } else {
                    alert('Authentication succeeded but no session returned.');
                }
            })
            .fail(function(err) {
                alert('Passkey login failed: ' + err);
            });
    };
})();
</script>
</body>
</html>
