/* 
  Author: Matt Simerson (matt@tnpi.net)
          Version: 1.0
                Date: 2007.02.21

                colors in use:
}
*/

body, P, H1, H2, H3, H4, H5, H6, LI, TD, TH, DD, DT { 
        font-family: Helvetica;
        font-size: 13px;
}

div.dark_bg_color {
		background: #336666;
		color: #FFFFFF;
		padding: 2px;
		margin: 2px;
}

tr.dark_bg {
		background: #336666;
		color: #FFFFFF;
}
tr.dark_grey_bg {
		background: #CCCCCC;
}
tr.light_grey_bg {
		background: #EEEEEE;
}

tr#tr_weight {
	display: none;
}
tr#tr_priority {
	display: none;
}
tr#tr_other {
	display: none;
}
div.dark_grey_bg {
		background: #CCCCCC;
		padding: 2px;
		margin: 2px;
}

div.light_grey_bg {
		background: #EEEEEE;
		padding: 2px;
		margin: 2px;
}
