/* 
  Author: Matt Simerson (matt@tnpi.net)
  Version: 1.1
  Date: 2011.12.07
}
*/

body { 
  background: white; 
  font-family: Helvetica;
  font-size: 12px;
}

table {
	padding: 2px;
	border-spacing: 2px;
	border: 0px;
}
table.no_pad {
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;  /* 'cellspacing' equivalent */
}
table.no_pad td, table.no_pad th { padding: 0px; }
div {
  padding: 2px;
  margin: 2px;
}

.float_r  { float: right; }
.side_pad { padding-right: 4px; padding-left: 4px; }
.no_margin { margin: 0px; }
.margin2 { margin:  2px; }
.margin4 { margin:  4px; }
.no_pad  { padding: 0px; }      /* 'cellpadding' equivalent */
.pad1    { padding: 1px; }
.pad2    { padding: 2px; }
.pad4		 { padding: 4px; }
.nowrap  { white-space: nowrap; }
.tall    { height: 100%; }
.fat     { width:  100%; }
.width80 { width:   80%; }
.width50 { width:   50%; }
.width1  { width:    1%; }
.tee     { height: 17px; width: 17px; }
.left    { text-align: left; }
.right   { text-align: right; }
.center  { text-align: center; }
.middle  { vertical-align: middle; }
.top     { vertical-align: top; }
.bold    { font-weight: bold; }

.disabled { color: #777777; }
.dark     { color: #336666; }
.white_bg { background: white; }
.dark_bg {
  background: #336666;
  color: #FFFFFF;
}
.dark_grey_bg { background: #CCCCCC; }
.light_grey_bg { background: #EEEEEE; }
.light_hilite_bg { background: #ffffee; }
.dark_hilite_bg { background: #eeeedd; }
.error_bg {
  background: red;
  color: white;
}

tr#tr_weight { display: none; }
tr#tr_priority { display: none; }
tr#tr_other { display: none; }

a:link    { color: #336666 }
a:visited { color: #336666 }
a:active  { color: #336666 }

img { border: 0; }

table#navBar span {
	padding-left: 2px;
	padding-right: 2px;
}
table#navBar span img {
	margin: 0px;
	padding: 0px;
}
