#!/usr/bin/perl

use Apache::DBI();
use Apache::SOAP;
use DBIx::Simple;
use XML::Parser;
use SOAP::Lite;

use strict;
use NicToolServer;
use NicToolServer::SOAP;
use NicToolServer::Client::SOAP;
use NicToolServer::Client;
use NicToolServer::Session;
use NicToolServer::Response;
use NicToolServer::Permission;
use NicToolServer::Zone;
use NicToolServer::Zone::Sanity;
use NicToolServer::Zone::Record;
use NicToolServer::Zone::Record::Sanity;
use NicToolServer::Group;
use NicToolServer::Group::Sanity;
use NicToolServer::User;
use NicToolServer::User::Sanity;
use NicToolServer::Nameserver;
use NicToolServer::Nameserver::Sanity;

BEGIN {
    # Database configuration
    $NicToolServer::dsn     = "DBI:mysql:database=nictool;host=127.0.0.1;port=3306";
    $NicToolServer::db_user = 'nictool';
    $NicToolServer::db_pass = 'lootcin205';

    # LDAP configuration
    # $NicToolServer::ldap_servers  = 'ldap1.example.com,ldap2.example.com'; # Comma-separated list
    # $NicToolServer::ldap_starttls = 0;                                     # Defaults to 0
    # $NicToolServer::ldap_basedn   = 'ou=Nictool users,dc=example,dc=com';  # Search base
    # $NicToolServer::ldap_user_mapping = 'uid';                             # Defaults to 'uid'

    # If ldap_filter is set, NicTool will perform a subtree search (scope: sub) for user under ldap_basedn, 
    # otherwise it will guesstimate the dn at basedn level (ala scope: one)
    # $NicToolServer::ldap_filter = '(&(objectClass=*)(uid=*))';

    # If anonymous search for the user_mapping attribute is not allowed. Only needed if filter is defined
    # $NicToolServer::ldap_binddn = 'cn=Admin,dc=example,dc=com';
    # $NicToolServer::ldap_bindpw = 'the_admin_password';

    Apache::DBI->connect_on_init($NicToolServer::dsn, $NicToolServer::db_user, $NicToolServer::db_pass);
}

1;

__END__

=head1 SYNOPSIS

    
=cut

