#!/usr/bin/perl
#
# NicTool v2.00-rc1 Copyright 2001 Damon Edwards, Abe Shelton & Greg Schueler
# NicTool v2.01 Copyright 2004 The Network People, Inc.
#
# NicTool is free software; you can redistribute it and/or modify it under 
# the terms of the Affero General Public License as published by Affero, 
# Inc.; either version 1 of the License, or any later version.
#
# NicTool is distributed in the hope that it will be useful, but WITHOUT 
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY 
# or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GPL for details.
#
# You should have received a copy of the Affero General Public License
# along with this program; if not, write to Affero Inc., 521 Third St,
# Suite 225, San Francisco, CA 94107, USA
#

use strict;

use CGI();

BEGIN {
    $NicToolClient::app_dir     = '/usr/local/nictool/client';

    #Interface options
    $NicToolClient::app_title   = 'NicTool';
    
    $NicToolClient::image_dir   = 'images';

    $NicToolClient::generic_error_message = qq(If you continue to get this error, please contact the system administrator, or your corporate contact.);

    #show the "help" links
    $NicToolClient::show_help_links = 1;

    #go to detail view after creating a new zone
    $NicToolClient::edit_after_new_zone = 1;

    #is the "include subgroups" checkbox automatically checked?
    $NicToolClient::include_subgroups_checked = 1; 

    #is the "exact match" checkbox automatically checked?
    $NicToolClient::exact_match_checked = 0; 

    $NicToolClient::template_dir                = "$NicToolClient::app_dir/templates";
    $NicToolClient::login_template              = "$NicToolClient::template_dir/login.html";
    $NicToolClient::setup_error_template        = "$NicToolClient::template_dir/setup_error.html";
    $NicToolClient::frameset_template           = "$NicToolClient::template_dir/frameset.html";
    $NicToolClient::start_html_template         = "$NicToolClient::template_dir/start_html.html";
    $NicToolClient::end_html_template           = "$NicToolClient::template_dir/end_html.html";
    $NicToolClient::body_frame_start_template   = "$NicToolClient::template_dir/body_frame_start.html";

    $NicToolClient::page_length = 50;

    #default values for zones/nameservers
    $NicToolClient::default_zone_ttl = '86400';
    $NicToolClient::default_zone_mailaddr = 'hostmaster.ZONE.TLD.';
    $NicToolClient::default_zone_refresh= '16384';    # RFC 1912 range (20 min to 12 hours)
    $NicToolClient::default_zone_retry  = '900';      # RFC 1912 range (180-900 sec)
    $NicToolClient::default_zone_expire = '1048576';  # RFC 1912 range (14 - 28 days)
    $NicToolClient::default_zone_minimum = '2560';    # RFC 2308 range (1 - 3 hours)

    $NicToolClient::default_zone_record_ttl = '86400';
    $NicToolClient::default_nameserver_ttl  = '86400';

    #NicToolServer connection settings
    $NicToolServerAPI::server_host         = "127.0.0.1";
    $NicToolServerAPI::server_port         = "8082";
    $NicToolServerAPI::transfer_protocol   = 'http',
    $NicToolServerAPI::data_protocol       = "soap";   # 'soap' or 'xml_rpc'
    $NicToolServerAPI::debug_soap_setup    = 0;        # debug soap calls
    $NicToolServerAPI::debug_soap_request  = 0;
    $NicToolServerAPI::debug_soap_response = 0;
}

use lib "$NicToolClient::app_dir/lib";
use NicToolClient;

1;
